### Guia practica pandas

#### Ejercicio

Se requiere crear un DataFrame desde 0 con tres columnas (a partir de tres listas de n cantidades iguales)

In [2]:
import pandas

lista1=["Comida",200]
lista2=["Luz",500]
lista3=["Telecentro",3000]

gastos=pandas.DataFrame((lista1,lista2,lista3),columns=["Descripcion","Monto"])
gastos

  Descripcion  Monto
0      Comida    200
1         Luz    500
2  Telecentro   3000

####Â Ejercicio 

Dada una lista de listas donde cada lista contiene dos elementos, el primero es el nombre del mercado, el segundo representa el saldo en USD, se solicita crear un dataframe con dicha informacion donde las columnas deben llevar el titulo de Mercado y Saldo la otra.

data = [["NYSE",1300],["BME",2000],["BMV",3000],["BYMA",2340], ["BVC", 4000]]

In [2]:
import pandas
data = [["NYSE",1300],["BME",2000],["BMV",3000],["BYMA",2340], ["BVC", 4000]]

mercado=pandas.DataFrame(data,columns=["Mercado","Saldo"])
mercado

  Mercado  Saldo
0    NYSE   1300
1     BME   2000
2     BMV   3000
3    BYMA   2340
4     BVC   4000

#### Ejercicio

Dado un diccionario con algunos indices y sus respectivas cotizaciones a la fecha se solicita pasarlo a un dataframe

data = {'Indices':['DowJones', 'IBEX35', 'IndiceEuro', 'DAX'], 'Cotizaciones':[26428,6877.40,103.95,2313.36]}

In [4]:
import pandas
data = {'Indices':['DowJones', 'IBEX35', 'IndiceEuro', 'DAX'], 'Cotizaciones':[26428,6877.40,103.95,2313.36]}

mercado=pandas.DataFrame(data)
mercado

      Indices  Cotizaciones
0    DowJones      26428.00
1      IBEX35       6877.40
2  IndiceEuro        103.95
3         DAX       2313.36

#### Ejercicio
Se requiere descargar el excel con cotizaciones de la empresa YPF e importarlo en el entorno de jupyter notebook, el mismo se encuentra en https://drive.google.com/file/d/1yAlN1_6mzP7yb-S51n0xXxqx3it_0bo1/view?usp=sharing
El mismo luego se deberan mostrar las columnas 'timestamp', 'volume', 'high'

#### Ejercicio 
Se requiere concatenar dos cotizaciones historicas por medio del adj close de dos tickers cualquiera, el join deber outer y el axis 1

####Â Ejercicio 

    - Se requiere descargar la informacion de un activo X y obtener la sma de 21, 42 y 200 ponerla en el dataframe
    - calcular las bandas de Bollinger para dicho activo
    - Agregar una columna mas que indique true cuando la sma de 21 sea mayor a la de 42 y a la de 200, false en los otros casos.

####Â Ejercicio 
Calculando el dolar CCL, descargar el ultimo mes de cotizacion de GGAL y GGAL.BA y calcula el valor del dolar contado con liquidaciÃ³n, utilizar la columna close para calcularlo, concatenar ambos resultados y agregar dicho valor como una columna extra con el valor del calculo.
La cuenta es GGAL.BA / (GGAL * 10)